<div class="headermain">
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{{setting.logo.url}}" alt="company logo here"></a>
            </div>
            <div class="navbar">
                <ul id="MenuItems">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'category' %}">Products</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="account.html">Account</a></li>
                    <li><a href="cart.html">Cart</a></li>
                </ul>
            </div>
            <a href="cart.html"><img src="{{setting.cart_icon.url}}" alt="shop cart" width="30px" height="30px"></a>
            <img src="{{setting.menu_icon.url}}" class="menu-icon" onclick="menutoggle()">
        </div>

        <div class="row">
            <div class="col-2">
                <h1>Give Your Work Some <br> Class And Style!</h1>
                <p> "You can have anything you want if you want it badly enough. You can <br>be anything
                    you want to be, do anything you set out to accomplish <br>
                    if you hold to that desire with singleness of purpose."
                </p>
                <a href="" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="/images/ladies/1.jpg">
            </div>
        </div>